.video__subtitle {
    position: relative;
    z-index: 3;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0px;
}