.video__icon-image_second {
    margin-bottom: 54px;
}


@media screen and (max-width: 768px) {

    .video__icon-image_second {
        margin: 25px 0 10px 25px;
    }

}

@media screen and (max-width: 570px) {

    .video__icon-image_second {
        margin-bottom: 10px;
    }

}