.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    padding-left: 64px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    height: 32px;
    width: 183px;
}

.header__title {
    align-self: center;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 700;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    line-height: 25px;
    width: 388px;
    font-size: 18px;
    font-weight: normal;
    z-index: 2;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 608px;
    width: 765px;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    right: 0;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
}

.description {
    margin: 100px 0;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1600px;
    margin: auto;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}

.two_columns__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    min-height: 334px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 700;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin: 0 0 20px 0;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: 700;
}

.section-subtitle {
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    width: 60%;
}

.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 700;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 20px;
}

.feinman {
    position: relative;
    height: 790px;
    padding-top: 100px;
    background-color: #f2f2f2;
    background-image: url(../images/feinman.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.feinman__title {
    text-align: center;
    margin: 0 auto 70px;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 700;
}

.feinman__subtitle {
    text-align: center;
    margin: 0 auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    right: 0;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    margin-right: 48px;
    color: black;
}

.kaufman {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    padding: 100px;
    overflow: hidden;
}

.section-title_theme_dark {
    color: #f2f2f2;
}

.section-subtitle_theme_dark {
    color: #f2f2f2;
}

.table_theme_dark {
    color: #f2f2f2;
    list-style-type: none;
    counter-reset: num;
    z-index: 1;
}

.table__text_theme_dark {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 80px 0 0 0;
}

.table__text_theme_dark::before {
    content: counter(num) ' ';
    counter-increment: num;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.kaufman__triangle {
    position: absolute;
    top: 0;
    right: -210px;
    height: 877px;
    width: 877px;
}

.footer {
    background-color: #1f1f1f;
    color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__columns {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    flex-basis: 711px;
}

.footer__column_copyright {
    width: 50%;
    min-height: 250px;
}

.logo_place_footer {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 183px;
}

.footer__author {
    position: absolute;
    margin: 18px auto 18px;
    bottom: 0;
    left: 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__link {
    color: #F2F2F2;
    text-decoration: none;
}

.footer__social-icons {
    width: 16px;
    height: 16px;
}