@import url(comment/comment.css);

.comments__container {
    display: grid;
    grid-template-areas: 'p p p';
    max-width: 1184px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .comments__container {
        grid-template-areas: 'p';
    }

}