.cover__title {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    margin: 274px auto 134px;
    z-index: 3;
}

@media screen and (max-width: 1024px) {

    .cover__title {
        margin: 180px auto 50px;
        max-width: 550px;
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .cover__title {
        margin: 180px auto 50px;
    }

}

@media screen and (max-width: 570px) {

    .cover__title {
        margin: 104px auto 7px;
        font-size: 32px;
        line-height: 35px;
    }

}

@media screen and (max-width: 320px) {

    .cover__title {
        margin: 64px auto 1px;
    }

}